header {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 92px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 13px
}

li {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}

header li:nth-child(2) {
    border-bottom: 1px solid black;
    width: 152px;
    line-height: 21.3px;
}

header li:nth-child(3) {
    border-bottom: 1px solid black;
    width: 111px;
    line-height: 21.3px;
    margin: 0 auto;
}

.contact-info p {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    letter-spacing: 0.18px;
}

/* Блок кантент */
main {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 90px;
}
/* Блок банер */

.background-block {
    position: relative;
    width: 100%;
    height: 757px; /* Можно использовать процентные значения или другие единицы для адаптивности */
    background-image: url('/assets/img/lotus-flower.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; /* Чтобы ничего не вылезало за пределы блока */
}

.background-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.text-container {
    position: relative;
    margin-top: 165px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: white;
}

.text-item {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 60px;
    text-transform: uppercase;
}

.text-item span {
    flex: 1;
}

.text-item .center {
    text-align: center;
}

.text-item .right {
    text-align: right;
}

.text-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 135px;
    position: relative;
    width: 100%;
    z-index: 2;
    padding-bottom: 62px;
    color: #ffffff;
}

.text-info h2 {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
}

.text-info a{
    width: 256px;
    border: 1px solid #fff;
    padding: 12px 31px 11px 31px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

/* Блок Об лот */

.lots-section{
    margin-top: 179px;
}

.section-title {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 27px 64px;
}

.lots-container {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.lots-block {
    width: 334px;
    height: 563px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.60);
}

.lots-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.lots-text-top,
.lots-text-bottom {
    position: absolute;
    color: #fff;
    padding: 0 15px;
    font-size: 16px;
    z-index: 2;
}

.lots-text-top {
    padding: 51px 40px 0 40px;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
}

.lots-text-bottom {
    bottom: 0;
    padding: 0 40px 48px 40px;
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

h3 {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 30px 0 0 64px;
    border-bottom: 1px solid black;
    width: 193px;
}

/* Блок Об аукционе */

.auction-info{
    max-width: 1052px;
    margin: 0 auto;
    margin-top: 146px;
}

.logo-container {
    margin: 35px 0 0 47px;
}

.auction-intro {
    display: flex;
    align-items: center;
    gap: 72px;

}

.info-container h2{
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.auction-info-panel {
    display: grid;
    justify-content: end;
    justify-self: end;
    width: 1052px;
}

.auction-info-panel p{
    display: grid;
    justify-content: end;
    justify-self: end;
    width: 688px;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.2px;
}

.auction-info-panel p:nth-child(1){
    padding-bottom: 24px;
}

/* Блок footer */
footer {
    max-width: 1052px;
    margin: 0 auto;
    margin-top: 180px;
    margin-left: 50px;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
}

.menu-footer {
    text-align: center;
}

footer .contact-info p:nth-child(1) {
    border-bottom: 1px solid black;
    width: 135px;
    line-height: 22.3px;
}

footer .contact-info p:nth-child(2) {
    border-bottom: 1px solid black;
    width: 135px;
    line-height: 22.3px;
}

footer li:nth-child(2) {
    border-bottom: 1px solid black;
    width: 155px;
    line-height: 21.3px;
}

footer li:nth-child(3) {
    border-bottom: 1px solid black;
    width: 115px;
    line-height: 21.3px;
    margin: 0 auto;
}

.social-icons {
    display: flex;
    gap: 48px;
}